$small: 10px;
$medium: 20px;
$large: 30px;

.ps {
	padding: $small;
}

.pm {
	padding: $medium;
}

.pl {
	padding: $large;
}

.pls {
	padding-left: $small;
}

.plm {
	padding-left: $medium;
}

.pll {
	padding-left: $large;
}

.prs {
	padding-right: $small;
}

.prm {
	padding-right: $medium;
}

.prl {
	padding-right: $large;
}

.pts {
	padding-top: $small;
}

.ptm {
	padding-top: $medium;
}

.ptl {
	padding-top: $large;
}

.pbs {
	padding-bottom: $small;
}

.pbm {
	padding-bottom: $medium;
}

.pbl {
	padding-bottom: $large;
}